  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200em;
  }
  
  .chesscenter {
    background-color: lightblue;
    width:50%;
    height: 50%;
  }

  #saisieposition {
    background-color: white;
    font-size: xx-large;
    height: 70px;
    width: 400px;
  }

  #correctMessage {
    color: rgb(43, 255, 0);
    font-size: xx-large;
  }

  #incorrectMessage {
    color: rgb(247, 66, 66);
    font-size: xx-large;
  }

  #checkposition {
    font-size: xx-large;
    height: 70px;
    width: 400px;
  }
  #recommencer {
    font-size: xx-large;
    height: 70px;
    width: 400px;
    color: blueviolet;
  }